h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--basic-text-color);
}

header {
  border-bottom: 1px solid var(--border-bottom);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --basic-title-color: #212121;
  --first-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --basic-color: #ffffff;
  --color-background-solution: #2f303a;
  --basic-text-color: #757575;
  --background-color-button: #f5f4fa;
  --border-gallery-color: #eeeeee;
  --border-bottom: #ececec;
  --solution-backgraund: #c4c4c4;
  --solution-box-shadow: rgba(0, 0, 0, 0.15);
  --box-shadow-one: rgba(0, 0, 0, 0.12);
  --box-shadow-two: rgba(0, 0, 0, 0.08);
  --box-shadow-three: rgba(0, 0, 0, 0.1);
  --color-mail-futter: rgba(255, 255, 255, 0.6);
  --button-activ-color: #188ce8;
  --piple-shadow-one: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  --piple-shadow-two: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  --piple-shadow-three: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --client-button-color: #afb1b8;
}

.logo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.78px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__footer {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    font-size: 26px;
  }
}

.logo--first {
  color: var(--first-logo-color);
}

.logo--black {
  color: var(--secondary-logo-color);
}

.logo--white {
  color: var(--basic-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--border-bottom);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation a {
  display: block;
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .navigation__item {
    display: none;
  }
}

.navigation__list:not(:last-child) {
  margin-right: 50px;
}
.navigation__list a {
  display: block;
  color: var(--basic-title-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__list a:hover, .navigation__list a:focus {
  color: var(--first-logo-color);
}

.navigation--activ a {
  position: relative;
  color: var(--first-logo-color);
}
.navigation--activ a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2px;
  background: var(--first-logo-color);
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__address {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__address--list {
  margin-left: auto;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--basic-text-color);
  fill: var(--basic-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover, .header__item:focus {
  color: var(--first-logo-color);
  fill: var(--first-logo-color);
}

.header__icon {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .header__address--retriat {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__address--retriat:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__item {
    font-size: 12px;
  }
}
.solution {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--solution-backgraund);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 0px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-mobile2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desctop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desctop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desctop2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desctop2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .solution {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.solution__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--basic-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 479px) {
  .solution__title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .solution__title {
    font-size: 44px;
    max-width: 696px;
    line-height: 1.36;
  }
}

.solution__button {
  width: 200px;
  height: 50px;
  border: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: var(--first-logo-color);
  -webkit-box-shadow: 0px 4px 4px 0px var(--solution-box-shadow);
          box-shadow: 0px 4px 4px 0px var(--solution-box-shadow);
  color: var(--basic-color);
  text-align: center;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.solution__button:active {
  background-color: var(--button-activ-color);
}
@media screen and (min-width: 1200px) {
  .solution__button {
    width: 216px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding-left: 41px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    height: 100%;
    overflow: scroll;
  }
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--first-logo-color);
}

.modal__title {
  margin-top: 0;
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.form__name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form__name svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 12px;
}
.form__name:focus-within .form__icon {
  fill: #2196f3;
}

.form__label {
  margin-bottom: 4px;
  display: block;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #757575;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: #2196f3;
}

.form__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  width: 200px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  margin-top: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.form__comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:focus {
  border-color: #2196f3;
}
.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.check__link {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.check__license {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.check {
  margin-top: 20px;
}

.check__input {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -1px;
  border: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__input:focus + .check__box {
  border: 2px solid #2196f3;
}
.check__input:checked + .check__box {
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
}

.check__box {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 13px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__box:hover {
  border: 2px solid #2196f3;
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__background {
  background-color: var(--background-color-button);
}

.section__title {
  color: var(--basic-title-color);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .about__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .about__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: 270px;
    margin-right: 30px;
  }
  .about__item:last-child {
    margin-right: 0px;
  }
}

.about__title {
  color: var(--basic-title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .about__title {
    text-align: center;
  }
}

.about__text {
  color: var(--basic-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 767px) {
  .about__text {
    display: block;
    padding: 0px 15px;
    margin-bottom: 30px;
  }
}

.about__buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: none;
  background: var(--background-color-button);
  padding: 0px;
  margin-bottom: 30px;
  fill: var(--basic-title-color);
}
@media screen and (min-width: 480px) {
  .about__buttom {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .about__buttom {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__buttom {
    width: 270px;
  }
}

.doing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doing__list {
  position: relative;
  margin-right: 30px;
}
.doing__list:last-child {
  margin-right: 0px;
}

.doing__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding: 27px 0px;
}

.empty {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .empty {
    display: none;
  }
}

.piple__title {
  color: var(--basic-title-color);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.piple__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .piple__list {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .piple__list {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .piple__list {
    margin-bottom: 30px;
  }
  .piple__list:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .piple__list {
    margin-right: 30px;
  }
  .piple__list:last-child {
    margin-right: 0px;
  }
}

.piple__item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.piple__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.piple__text {
  text-align: center;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.piple__border {
  border-radius: 0px 0px 4px 4px;
  background: var(--basic-color);
  -webkit-box-shadow: var(--piple-shadow-one), var(--piple-shadow-two), var(--piple-shadow-three);
          box-shadow: var(--piple-shadow-one), var(--piple-shadow-two), var(--piple-shadow-three);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .piple__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .piple__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social--black {
  background-color: rgba(255, 255, 255, 0.1019607843);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social--black:hover, .social--black:focus {
  background-color: var(--first-logo-color);
}

.social--white {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social--white:hover, .social--white:focus {
  fill: #ffffff;
  background-color: var(--first-logo-color);
}

.social__list {
  margin-right: 10px;
}
.social__list:last-child {
  margin-right: 0px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.client__list :focus svg {
  fill: var(--first-logo-color);
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--client-button-color);
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--first-logo-color);
}
.client__link:hover svg {
  fill: var(--first-logo-color);
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__svg {
  fill: var(--client-button-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: var(--color-background-solution);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.address {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .address {
    width: 232px;
  }
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

.address--post {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 231px;
  color: var(--basic-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.address__contact {
  display: block;
  color: var(--color-mail-futter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .address__contact {
    margin-top: 9px;
  }
}

.footer__text {
  display: block;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    text-align: start;
    margin-top: 12px;
  }
}

.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__social ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
  }
}

.subsribe {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 479px) {
  .subsribe {
    padding: 0px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .subsribe {
    margin-left: 93px;
  }
}
.subsribe form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 1199px) {
  .subsribe form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe__input {
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__submit {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: var(--first-logo-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  color: var(--basic-color);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--basic-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__submit {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer--table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer--table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
    margin-bottom: 60px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 351px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .filter {
    width: 100%;
  }
}

.filter__text {
  color: var(--basic-title-color);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: var(--background-color-button);
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .filter__text {
    width: 130px;
  }
}

.filter--first {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: var(--background-color-button);
  border: none;
  padding: 6px 25px;
  cursor: pointer;
}

.filter li:not(:last-child) {
  margin-right: 8px;
}

.filter button:hover, .filter button:focus {
  background-color: var(--first-logo-color);
  color: var(--basic-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter button:active {
  background-color: var(--first-logo-color);
  color: var(--basic-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.gallery__item,
.gallery__box {
  width: 450px;
}
@media screen and (max-width: 479px) {
  .gallery__item,
  .gallery__box {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .gallery__item,
  .gallery__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item,
  .gallery__box {
    width: 370px;
  }
}

.gallery__cart {
  position: relative;
  overflow: hidden;
}

.gallery__info {
  content: "";
  position: absolute;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.54px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0.9;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 467px) {
  .gallery__info {
    font-size: 16px;
    padding-top: 30px;
  }
}

.gallery__title {
  color: var(--basic-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
@media screen and (max-width: 479px) {
  .gallery__title {
    font-size: 16px;
  }
}

.gallery__text {
  width: 332px;
  color: var(--basic-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}
@media screen and (max-width: 479px) {
  .gallery__text {
    width: 100%;
  }
}

.gallery__box {
  border-left: 1px solid var(--border-gallery-color);
  border-right: 1px solid var(--border-gallery-color);
  border-bottom: 1px solid var(--border-gallery-color);
  padding: 20px 24px;
}
@media screen and (min-width: 768px) {
  .gallery__box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (max-width: 479px) {
  .gallery__box {
    width: 100%;
  }
}

.gallery__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover, .gallery__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.gallery__link:hover .gallery__info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery__link {
    max-width: 354px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__link {
    width: 370px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--first-logo-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  fill: var(--first-logo-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu-link {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  color: var(--basic-title-color);
  font-size: 40px;
  line-height: 1.175;
  font-weight: 500;
}
@media screen and (max-width: 479px) {
  .mobile-menu-link {
    font-size: 30px;
  }
}

.mobile-menu-link__activ {
  color: var(--first-logo-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479px) {
  .mobile-socials {
    display: block;
  }
}

.link {
  text-decoration: none;
}

.mobile-contacts-tel {
  display: inline-block;
  color: var(--first-logo-color);
  font-size: 34px;
  line-height: 1.1764705882;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
@media screen and (max-width: 479px) {
  .mobile-contacts-tel {
    font-size: 28px;
  }
}

.mobile-contacts-mail {
  display: inline-block;
  color: var(--basic-text-color);
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}
@media screen and (max-width: 479px) {
  .mobile-contacts-mail {
    margin-bottom: 30px;
  }
}

.mobile-socials-link {
  color: var(--first-logo-color);
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 479px) {
  .mobile-socials-link {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    margin-bottom: 5px;
  }
}

.mobile-socials-link.first {
  border: none;
  padding-left: 0;
}
@media screen and (max-width: 479px) {
  .mobile-socials-link.first {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    margin-bottom: 5px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .mobile-socials-item {
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */