:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --basic-title-color: #212121;
  --first-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --basic-color: #ffffff;
  --color-background-solution: #2f303a;
  --basic-text-color: #757575;
  --background-color-button: #f5f4fa;
  --border-gallery-color: #eeeeee;
  --border-bottom: #ececec;
  --solution-backgraund: #c4c4c4;
  --solution-box-shadow: rgba(0, 0, 0, 0.15);
  --box-shadow-one: rgba(0, 0, 0, 0.12);
  --box-shadow-two: rgba(0, 0, 0, 0.08);
  --box-shadow-three: rgba(0, 0, 0, 0.1);
  --color-mail-futter: rgba(255, 255, 255, 0.6);
  --button-activ-color: #188ce8;
  --piple-shadow-one: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  --piple-shadow-two: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  --piple-shadow-three: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --client-button-color: #afb1b8;
}
